html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #000;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  overflow: hidden;
}

.loading *,
.loading *:before,
.loading *:after {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

body,
.contact,
.technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.loading,
footer.loading {
  background: #000;
}

body {
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  font-size: 20px;
  background: #070000;
  color: #fff;
  min-height: 100%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background 1s linear;
  transition: background 1s linear;
}

a,
button,
footer,
table,
.additional-info,
.menu {
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #cccccc;
}

button {
  font-size: 1.3em;
  background: black;
  cursor: pointer;
  border: 0;
  outline: none;
}

a:hover,
button:hover {
  color: #fff;
}

h3 {
  text-align: center;
}

td {
  padding: .2em .5em;
  -webkit-transition: color .3s;
  transition: color .3s;
}

td:hover {
  color: #d9d9d9;
}

td a {
  -webkit-transition: color .2s;
  transition: color .2s;
}

tr:nth-child(even) {
  background: #1b0000;
}

footer {
  background: #3a0000;
  bottom: 0;
  height: 1.2em;
  position: absolute;
  text-align: center;
  -webkit-transition: background 4s linear;
  transition: background 4s linear;
  width: 100%;
  z-index: 3;
}

footer a {
  -webkit-animation: swingIn 1s 3.7s ease-in both;
          animation: swingIn 1s 3.7s ease-in both;
  margin: 0 5vw;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.overlay {
  position: fixed;
  top: -100%;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  z-index: 1;
}

.text-dark {
  color: #cccccc;
  size: .9em;
}

.menu-buttons button {
  position: absolute;
  padding: 20px;
  width: 4em;
  -webkit-transition: color .2s, -webkit-transform 1s 2s, -webkit-filter .8s;
  transition: color .2s, -webkit-transform 1s 2s, -webkit-filter .8s;
  transition: color .2s, transform 1s 2s, filter .8s;
  transition: color .2s, transform 1s 2s, filter .8s, -webkit-transform 1s 2s, -webkit-filter .8s;
}

.menu-buttons button.glow {
  -webkit-animation: glow 2s normal forwards;
          animation: glow 2s normal forwards;
}

.btn-top {
  top: 0;
}

.btn-btm {
  bottom: 1em;
}

.btn-left {
  left: 0;
  -webkit-box-shadow: 1em 0 1em black;
          box-shadow: 1em 0 1em black;
}

.btn-left.btn-top {
  border-bottom-right-radius: 1em;
}

.btn-left.btn-top.loading {
  -webkit-transform: translate(-120%, -100%);
          transform: translate(-120%, -100%);
}

.btn-left.btn-top.nudge {
  -webkit-animation: nudgeLeftBtn 10s 3s ease-out infinite both;
          animation: nudgeLeftBtn 10s 3s ease-out infinite both;
}

.btn-left.btn-btm {
  border-top-right-radius: 1em;
}

.btn-left.btn-btm.loading {
  -webkit-transform: translate(-120%, 100%);
          transform: translate(-120%, 100%);
}

.btn-left.btn-btm.nudge {
  -webkit-animation: nudgeLeftBtn 10s 3.1s ease-out infinite both;
          animation: nudgeLeftBtn 10s 3.1s ease-out infinite both;
}

.btn-right {
  right: 0;
  -webkit-box-shadow: -1em 0 1em black;
          box-shadow: -1em 0 1em black;
}

.btn-right.btn-top {
  border-bottom-left-radius: 1em;
}

.btn-right.btn-top.loading {
  -webkit-transform: translate(120%, -100%);
          transform: translate(120%, -100%);
}

.btn-right.btn-top.nudge {
  -webkit-animation: nudgeRightBtn 10s 3.3s ease-out infinite both;
          animation: nudgeRightBtn 10s 3.3s ease-out infinite both;
}

.btn-right.btn-btm {
  border-top-left-radius: 1em;
}

.btn-right.btn-btm.loading {
  -webkit-transform: translate(120%, 100%);
          transform: translate(120%, 100%);
}

.btn-right.btn-btm.nudge {
  -webkit-animation: nudgeRightBtn 10s 3.5s ease-out infinite both;
          animation: nudgeRightBtn 10s 3.5s ease-out infinite both;
}

.btn-close {
  position: absolute;
  right: 0;
  -webkit-transition: color .2s, -webkit-transform .5s;
  transition: color .2s, -webkit-transform .5s;
  transition: transform .5s, color .2s;
  transition: transform .5s, color .2s, -webkit-transform .5s;
}

.btn-close:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.menu {
  position: fixed;
  background: #000;
  -webkit-box-shadow: 30px 0 30px #000, 0 30px 30px #000, -30px 0 30px #000, 0 -30px 30px #000;
          box-shadow: 30px 0 30px #000, 0 30px 30px #000, -30px 0 30px #000, 0 -30px 30px #000;
  padding: .5em;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.5, 0, 1.1), -webkit-filter 1s;
  transition: -webkit-transform 1s cubic-bezier(0.6, 0.5, 0, 1.1), -webkit-filter 1s;
  transition: transform 1s cubic-bezier(0.6, 0.5, 0, 1.1), filter 1s;
  transition: transform 1s cubic-bezier(0.6, 0.5, 0, 1.1), filter 1s, -webkit-transform 1s cubic-bezier(0.6, 0.5, 0, 1.1), -webkit-filter 1s;
  z-index: 2;
}

.menu h3 {
  color: #fff;
}

.menu.hidden {
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.menu-react.hidden {
  -webkit-transform: translate(-100vw, -100vh);
          transform: translate(-100vw, -100vh);
}

.menu-full.hidden {
  -webkit-transform: translate(-100vw, 100vh);
          transform: translate(-100vw, 100vh);
}

.menu-front.hidden {
  -webkit-transform: translate(100vw, -100vh);
          transform: translate(100vw, -100vh);
}

.menu-back.hidden {
  -webkit-transform: translate(100vw, 100vh);
          transform: translate(100vw, 100vh);
}

.main-center {
  font-family: 'Vollkorn', serif;
  margin-top: -3em;
  text-align: center;
}

.main-center br {
  display: none;
}

.main-center h1 {
  -webkit-animation: zoomIn 1s 1s linear both;
          animation: zoomIn 1s 1s linear both;
}

.main-center h1 i {
  font-size: .5em;
  margin: 0 .5em;
  vertical-align: middle;
}

.contact {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap-reverse;
          flex-flow: row wrap-reverse;
  -webkit-animation: swingIn 1s 3.5s ease-in both;
          animation: swingIn 1s 3.5s ease-in both;
}

.contact a {
  font-size: 1.2em;
  background: none;
  -webkit-box-shadow: 0 0 2em black;
          box-shadow: 0 0 2em black;
  padding: .5em;
  border-radius: .2em;
  -webkit-transition: color .2s, background .4s, -webkit-box-shadow .8s;
  transition: color .2s, background .4s, -webkit-box-shadow .8s;
  transition: color .2s, background .4s, box-shadow .8s;
  transition: color .2s, background .4s, box-shadow .8s, -webkit-box-shadow .8s;
  text-decoration: none;
  font-variant: small-caps;
}

.contact a:hover {
  background: #000;
  -webkit-box-shadow: 0 -0.3em 2em #000, 0 0 3em #440000;
          box-shadow: 0 -0.3em 2em #000, 0 0 3em #440000;
  cursor: pointer;
}

.contact a:active {
  background: #060606;
  -webkit-box-shadow: 0 -0.5em 4em #000, 0 0 3em #6d0000;
          box-shadow: 0 -0.5em 4em #000, 0 0 3em #6d0000;
}

.contact i {
  font-size: .8em;
  padding-right: 5px;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.contact i:hover {
  -webkit-animation: wiggle .6s .3s ease-out;
          animation: wiggle .6s .3s ease-out;
  color: gray;
}

.contact i.fa-github {
  font-size: .9em;
}

.technologies {
  -webkit-animation: swingIn 2s 1.8s both;
          animation: swingIn 2s 1.8s both;
  margin-bottom: 1em;
  height: 6em;
  width: 100%;
}

.technologies img {
  cursor: pointer;
  margin-top: -1.2em;
  min-height: 4.5em;
  max-height: 4.5em;
  width: 7.5em;
}

.fade-out {
  -webkit-animation: fadeOut .4s normal forwards;
          animation: fadeOut .4s normal forwards;
}

.fade-in {
  -webkit-animation: fadeIn .4s normal forwards;
          animation: fadeIn .4s normal forwards;
}

.additional-info {
  -webkit-animation: fadeIn 1s 3s both;
          animation: fadeIn 1s 3s both;
  text-align: center;
}

.disclaimer {
  margin-top: 4rem;
  color: #999;
  font-size: .8em;
}

/* Tooltips */
[data-tooltip] {
  position: relative;
}

[data-tooltip]:before {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  width: 8em;
  z-index: 4;
  padding: .2em;
  border-radius: 3%;
  background: #000;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.5, 1, 0.25, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.5, 1, 0.25, 1);
}

[data-tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
}

[data-tooltip].tip-top:before {
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

[data-tooltip].tip-top:hover:before {
  -webkit-transform: translateX(-50%) translateY(-15%);
          transform: translateX(-50%) translateY(-15%);
}

[data-tooltip].tip-btm:before {
  top: 130%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

[data-tooltip].tip-btm:hover:before {
  -webkit-transform: translateX(-50%) translateY(15%);
          transform: translateX(-50%) translateY(15%);
}

[data-tooltip].tip-left:before, [data-tooltip].tip-right:before {
  font-size: .8em;
}

[data-tooltip].tip-left:before {
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

[data-tooltip].tip-left:hover:before {
  -webkit-transform: translateX(-15%) translateY(-50%);
          transform: translateX(-15%) translateY(-50%);
}

[data-tooltip].tip-right:before {
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

[data-tooltip].tip-right:hover:before {
  -webkit-transform: translateX(15%) translateY(-50%);
          transform: translateX(15%) translateY(-50%);
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .01;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .01;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: .01;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: .01;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes glow {
  0%,
  100% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  30% {
    -webkit-box-shadow: 0 0 4em #ff3a3a;
            box-shadow: 0 0 4em #ff3a3a;
  }
}

@keyframes glow {
  0%,
  100% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  30% {
    -webkit-box-shadow: 0 0 4em #ff3a3a;
            box-shadow: 0 0 4em #ff3a3a;
  }
}

@-webkit-keyframes nudgeLeftBtn {
  2% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    -webkit-box-shadow: 0 0 2em #a00000;
            box-shadow: 0 0 2em #a00000;
  }
  6% {
    -webkit-transform: translateX(12px);
            transform: translateX(12px);
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #fff;
  }
  0% {
  }
  4%,
  9%,
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@keyframes nudgeLeftBtn {
  2% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    -webkit-box-shadow: 0 0 2em #a00000;
            box-shadow: 0 0 2em #a00000;
  }
  6% {
    -webkit-transform: translateX(12px);
            transform: translateX(12px);
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #fff;
  }
  0% {
  }
  4%,
  9%,
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@-webkit-keyframes nudgeRightBtn {
  2% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    -webkit-box-shadow: 0 0 2em #a00000;
            box-shadow: 0 0 2em #a00000;
  }
  6% {
    -webkit-transform: translateX(-12px);
            transform: translateX(-12px);
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #fff;
  }
  0% {
  }
  4%,
  9%,
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@keyframes nudgeRightBtn {
  2% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    -webkit-box-shadow: 0 0 2em #a00000;
            box-shadow: 0 0 2em #a00000;
  }
  6% {
    -webkit-transform: translateX(-12px);
            transform: translateX(-12px);
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #fff;
  }
  0% {
  }
  4%,
  9%,
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@-webkit-keyframes swingIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@keyframes swingIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@-webkit-keyframes wiggle {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    color: gray;
    -webkit-transform: rotate(-15deg) translateY(-5px);
            transform: rotate(-15deg) translateY(-5px);
  }
  80% {
    -webkit-transform: rotate(15deg) translateY(0);
            transform: rotate(15deg) translateY(0);
  }
}

@keyframes wiggle {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    color: gray;
    -webkit-transform: rotate(-15deg) translateY(-5px);
            transform: rotate(-15deg) translateY(-5px);
  }
  80% {
    -webkit-transform: rotate(15deg) translateY(0);
            transform: rotate(15deg) translateY(0);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

@media (max-width: 500px) and (max-height: 550px), (max-height: 400px) {
  .hide-on-small {
    display: none;
  }
}

@media (max-height: 668px) {
  .hide-on-short {
    display: none;
  }
}

@media (max-width: 450px), (max-height: 450px) {
  body {
    font-size: 18px;
  }
  .main-center br {
    display: block;
  }
  .hide-on-slim {
    display: none;
  }
  [data-tooltip]:before {
    display: none;
  }
  .contact a {
    padding-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */